<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
            <div class="form-group "><label for="email" class="mb-3"><b>Subscribe to our newsletter and Get 10% off</b></label><input [(ngModel)]="newsLetterObj.email" placeholder="Enter Email Here" name="email" type="email" class="form-control form-control-lg" placeholder="Enter email" id="email"></div><button (click)="submitNewsLetter()" type="button" class="btn btn-primary btn-lg btn-block my-2 Subscribe mt-4 mb-3">Subscribe</button>
              <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-youtube"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google"></i></a></div>
          </div>
          <p class="copyright">Elad The King © 2020</p>
      </div>
  </footer>
</div>