<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">ClothStoreApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLinkActive="active">Shop</a>
          </li>
          <h1 style="color: white;">{{dataToChildDisplay}}</h1>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/cart" routerLinkActive="active">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/login" routerLinkActive="active">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/about" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
